# Node
node_modules/
npm-debug.log*

# Remix / Build
/.cache/
/build/
/public/build/

# Environment variables
.env
.env.*
!.env.example

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log